.card {
  align-items: center;
  background-color: rgba(16, 74, 125, 0.55);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Default";
  height: 60%;
  justify-content: flex-start;
  margin-bottom: 2rem;
  max-width: 14rem;
  min-height: 30rem;
  min-width: 14rem;

  & .status {
    margin-bottom: 1rem;
  }

  & span {
    text-align: center;
  }

  & > .title {
    font-weight: lighter;
    padding: 0 0.5rem;
  }

  & > .img {
    background-color: aqua;
    justify-self: center;

    & > img {
      max-width: 100%;
    }
  }

  & > .content {
    border-radius: 10px;
    font-size: 0.7rem;
    height: 70%;
    max-width: 100%;
    min-width: -webkit-fill-available;
    padding: 1.5rem 0.5rem;

    &> span {
      display: block;
    }
  }

  h3 {
    text-align: center;
  }
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

svg {
  background-color: bisque;
  border-radius: 100%;
}
