<ng-container >
  <div class="selection">
    <p-tabView>
      <p-tabPanel  headerStyleClass="header-selection" tooltip="Characters"  header="Characters">
        <div class="cards">
          <app-card *ngFor="let item of charList" [cardData]="item"></app-card>
        </div>
      </p-tabPanel>
      <p-tabPanel headerStyleClass="header-selection" tooltip="Location" header="Location">
        <div class="cards">
        <app-card *ngFor="let item of locationList"></app-card>
        </div>
      </p-tabPanel>
  </p-tabView>
  </div>
</ng-container>
