<div class="full-screen">
  <div class="background"></div>
  <div class="content">
    <app-header></app-header>
    <div role="main">
        <div
          class="info-section"
          style="
            color: white;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
          "
        >
          <div>
            <p class="text-flicker-in-glow">Bem-vindo!</p>
            <span class="text-flicker-in-glow"
              >Aqui você pode conhecer todos os personagens de Rick n Morty, qualquer
              episódio, todos os lugares do universo para que você possa ficar
              tranquileba o tempo todo!</span
            >
          </div>
          <div class="btn-group">
            <a routerLink="/listing">Clique aqui para entrar!</a>
          </div>
        </div>
    </div>

    <div class="img-section" (click) ="play()">
      <img class="glitch" src="assets/rick.webp" alt="Riick" />
      <div class="hologram"></div>
    </div>

    <footer class="social">
      <a class="github" href="https://github.com/negra1m/" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
      <a class="linkedin" href="https://www.linkedin.com/in/negra1m" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      <span style="font-size: smaller; align-self: center;">developed by negra1m</span>
    </footer>
  </div>
</div>
