<!-- Toolbar  Refactor -->
<div class="full-screen">
  <div class="background"></div>
  <div class="content">
    <div class="toolbar" role="banner">
      <h1>Rick n Morty`s list</h1>
    </div>

    <div role="main">
      <app-main-page></app-main-page>
    </div>

    <footer class="social">
      <a class="github" href="https://github.com/negra1m/" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
      <a class="linkedin" href="https://www.linkedin.com/in/negra1m" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      <span style="font-size: smaller; align-self: center;">developed by negra1m</span>
    </footer>
  </div>
</div>
<!-- <app-card></app-card> -->
