  <div class="content">
    <section>
      <div class="info-section" style="color: white;  backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);">
          <div>
            <p>Bem-vindo!</p>
            <span>Aqui você pode conhecer todos os personagens de Rick n Morty, qualquer episódio, todos os lugares do
              universo para que você possa ficar tranquileba o tempo todo!</span>
          </div>
          <div class="btn-group">
            <span>Clique aqui para entrar!</span>
            <button role="button"><span class="some-icon"></span></button>
          </div>
      </div>
      <div class="img-section">
        <img class="glitch" src="assets/rick.png" alt="Riick" >
        <div class="hologram"></div>
        <!-- <div class="scanlines"></div> -->
      </div>
    </section>
  </div>
